In [1]:
import pandas as pd
df = pd.read_csv('loans_full_schema.csv')
df

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,10.0,TX,RENT,108000.0,Source Verified,22.28,NaN,NaN,NaN,...,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,8.0,PA,MORTGAGE,121000.0,Verified,32.38,NaN,NaN,NaN,...,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,10.0,CT,MORTGAGE,67000.0,Verified,45.26,107000.0,Source Verified,29.57,...,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,1.0,WI,MORTGAGE,80000.0,Source Verified,11.99,NaN,NaN,NaN,...,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,3.0,CT,RENT,66000.0,Not Verified,20.82,NaN,NaN,NaN,...,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [2]:
df.loc[:,['emp_title','emp_length']].isnull().mean()* 100

emp_title     8.33
emp_length    8.17
dtype: float64

## First feature with missing values is emp_title.
#I believe a good way to impute these values is with "Job title not given"

In [5]:
import numpy as np 
df['emp_title'] = np.where(df['emp_title'].isnull(),'Job title not given', df['emp_title'])
df['emp_title']

0       global config engineer
1        warehouse office clerk
2                      assembly
3              customer service
4          security supervisor
                 ...
9995                     owner
9996                   director
9997                  toolmaker
9998                    manager
9999         operations analyst
Name: emp_title, Length: 10000, dtype: object

In [6]:
filt = (df['emp_title'] ==  "Job title not given")
df.loc[filt]

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
5,Job title not given,NaN,KY,OWN,34000.0,Not Verified,6.46,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,4256.71,873.13,743.29,129.84,0.0
14,Job title not given,NaN,FL,MORTGAGE,17000.0,Verified,33.98,NaN,NaN,NaN,...,D3,Jan-2018,Current,whole,Cash,2744.21,454.36,255.79,198.57,0.0
16,Job title not given,NaN,NV,MORTGAGE,60000.0,Not Verified,31.22,NaN,NaN,NaN,...,D3,Jan-2018,Current,whole,Cash,11374.52,1532.08,625.48,906.60,0.0
23,Job title not given,NaN,TX,MORTGAGE,40280.0,Verified,7.27,NaN,NaN,NaN,...,A3,Mar-2018,Current,whole,Cash,3323.42,223.71,176.58,47.13,0.0
40,Job title not given,NaN,MI,MORTGAGE,19000.0,Not Verified,24.79,43000.0,Not Verified,17.15,...,D2,Jan-2018,Current,whole,Cash,9465.30,1261.32,534.70,726.62,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9912,Job title not given,NaN,MO,OWN,45000.0,Source Verified,24.99,NaN,NaN,NaN,...,B4,Mar-2018,Current,whole,Cash,9525.68,647.78,474.32,173.46,0.0
9932,Job title not given,NaN,NC,RENT,45000.0,Not Verified,14.93,NaN,NaN,NaN,...,B1,Mar-2018,Current,whole,Cash,18540.06,1899.07,1459.94,439.13,0.0
9941,Job title not given,NaN,GA,MORTGAGE,25000.0,Verified,28.42,NaN,NaN,NaN,...,B2,Feb-2018,Current,whole,Cash,2731.47,388.37,293.53,94.84,0.0
9975,Job title not given,NaN,MD,MORTGAGE,95000.0,Source Verified,10.66,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,18634.90,2037.09,1365.10,671.99,0.0
9976,Job title not given,NaN,MI,MORTGAGE,90000.0,Not Verified,24.36,NaN,NaN,NaN,...,B1,Mar-2018,Current,whole,Cash,13321.35,932.70,678.65,254.05,0.0

In [8]:
df['months_since_last_delinq'].max()

118.0

In [9]:
df['months_since_last_delinq'] = np.where(df['months_since_last_delinq'].isnull(),118,  df['months_since_last_delinq'])
df['months_since_last_delinq']

0        38.0
1       118.0
2        28.0
3       118.0
4       118.0
        ...
9995    118.0
9996      9.0
9997      6.0
9998    118.0
9999    118.0
Name: months_since_last_delinq, Length: 10000, dtype: float64

In [10]:
df.isnull().mean()*100

emp_title                            0.00
emp_length                           8.17
state                                0.00
homeownership                        0.00
annual_income                        0.00
verified_income                      0.00
debt_to_income                       0.24
annual_income_joint                 85.05
verification_income_joint           85.45
debt_to_income_joint                85.05
delinq_2y                            0.00
months_since_last_delinq             0.00
earliest_credit_line                 0.00
inquiries_last_12m                   0.00
total_credit_lines                   0.00
open_credit_lines                    0.00
total_credit_limit                   0.00
total_credit_utilized                0.00
num_collections_last_12m             0.00
num_historical_failed_to_pay         0.00
months_since_90d_late               77.15
current_accounts_delinq              0.00
total_collection_amount_ever         0.00
current_installment_accounts         0.00
accounts_opened_24m                  0.00
months_since_last_credit_inquiry    12.71
num_satisfactory_accounts            0.00
num_accounts_120d_past_due           3.18
num_accounts_30d_past_due            0.00
num_active_debit_accounts            0.00
total_debit_limit                    0.00
num_total_cc_accounts                0.00
num_open_cc_accounts                 0.00
num_cc_carrying_balance              0.00
num_mort_accounts                    0.00
account_never_delinq_percent         0.00
tax_liens                            0.00
public_record_bankrupt               0.00
loan_purpose                         0.00
application_type                     0.00
loan_amount                          0.00
term                                 0.00
interest_rate                        0.00
installment                          0.00
grade                                0.00
sub_grade                            0.00
issue_month                          0.00
loan_status                          0.00
initial_listing_status               0.00
disbursement_method                  0.00
balance                              0.00
paid_total                           0.00
paid_principal                       0.00
paid_interest                        0.00
paid_late_fees                       0.00
dtype: float64

## features below are being dropped due to their significantly high proportion of missing values or they are date values.

In [12]:
drop_df = df.drop(['annual_income_joint', 'verification_income_joint', 'debt_to_income_joint', 'months_since_90d_late','months_since_last_credit_inquiry','num_accounts_120d_past_due'],axis=1)
drop_df

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,delinq_2y,months_since_last_delinq,earliest_credit_line,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,0,38.0,2001,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,0,118.0,1996,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,0,28.0,2006,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,0,118.0,2007,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,0,118.0,2008,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,10.0,TX,RENT,108000.0,Source Verified,22.28,0,118.0,2008,...,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,8.0,PA,MORTGAGE,121000.0,Verified,32.38,4,9.0,1994,...,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,10.0,CT,MORTGAGE,67000.0,Verified,45.26,2,6.0,2004,...,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,1.0,WI,MORTGAGE,80000.0,Source Verified,11.99,0,118.0,1999,...,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,3.0,CT,RENT,66000.0,Not Verified,20.82,0,118.0,2005,...,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [13]:
df

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,10.0,TX,RENT,108000.0,Source Verified,22.28,NaN,NaN,NaN,...,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,8.0,PA,MORTGAGE,121000.0,Verified,32.38,NaN,NaN,NaN,...,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,10.0,CT,MORTGAGE,67000.0,Verified,45.26,107000.0,Source Verified,29.57,...,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,1.0,WI,MORTGAGE,80000.0,Source Verified,11.99,NaN,NaN,NaN,...,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,3.0,CT,RENT,66000.0,Not Verified,20.82,NaN,NaN,NaN,...,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [19]:
drop_df.isnull().mean()

emp_title                       0.0000
emp_length                      0.0817
state                           0.0000
homeownership                   0.0000
annual_income                   0.0000
verified_income                 0.0000
debt_to_income                  0.0024
delinq_2y                       0.0000
months_since_last_delinq        0.0000
earliest_credit_line            0.0000
inquiries_last_12m              0.0000
total_credit_lines              0.0000
open_credit_lines               0.0000
total_credit_limit              0.0000
total_credit_utilized           0.0000
num_collections_last_12m        0.0000
num_historical_failed_to_pay    0.0000
current_accounts_delinq         0.0000
total_collection_amount_ever    0.0000
current_installment_accounts    0.0000
accounts_opened_24m             0.0000
num_satisfactory_accounts       0.0000
num_accounts_30d_past_due       0.0000
num_active_debit_accounts       0.0000
total_debit_limit               0.0000
num_total_cc_accounts           0.0000
num_open_cc_accounts            0.0000
num_cc_carrying_balance         0.0000
num_mort_accounts               0.0000
account_never_delinq_percent    0.0000
tax_liens                       0.0000
public_record_bankrupt          0.0000
loan_purpose                    0.0000
application_type                0.0000
loan_amount                     0.0000
term                            0.0000
interest_rate                   0.0000
installment                     0.0000
grade                           0.0000
sub_grade                       0.0000
issue_month                     0.0000
loan_status                     0.0000
initial_listing_status          0.0000
disbursement_method             0.0000
balance                         0.0000
paid_total                      0.0000
paid_principal                  0.0000
paid_interest                   0.0000
paid_late_fees                  0.0000
dtype: float64

In [21]:
drop_df['interest_rate'].head()

0    14.07
1    12.61
2    17.09
3     6.72
4    14.07
Name: interest_rate, dtype: float64

In [25]:
filt= drop_df['emp_title']=="Job title not given"
drop_df.loc[filt]

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,delinq_2y,months_since_last_delinq,earliest_credit_line,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
5,Job title not given,NaN,KY,OWN,34000.0,Not Verified,6.46,1,3.0,1990,...,A3,Jan-2018,Current,whole,Cash,4256.71,873.13,743.29,129.84,0.0
14,Job title not given,NaN,FL,MORTGAGE,17000.0,Verified,33.98,1,6.0,2006,...,D3,Jan-2018,Current,whole,Cash,2744.21,454.36,255.79,198.57,0.0
16,Job title not given,NaN,NV,MORTGAGE,60000.0,Not Verified,31.22,0,77.0,2003,...,D3,Jan-2018,Current,whole,Cash,11374.52,1532.08,625.48,906.60,0.0
23,Job title not given,NaN,TX,MORTGAGE,40280.0,Verified,7.27,0,118.0,1997,...,A3,Mar-2018,Current,whole,Cash,3323.42,223.71,176.58,47.13,0.0
40,Job title not given,NaN,MI,MORTGAGE,19000.0,Not Verified,24.79,0,118.0,2004,...,D2,Jan-2018,Current,whole,Cash,9465.30,1261.32,534.70,726.62,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9912,Job title not given,NaN,MO,OWN,45000.0,Source Verified,24.99,2,9.0,2001,...,B4,Mar-2018,Current,whole,Cash,9525.68,647.78,474.32,173.46,0.0
9932,Job title not given,NaN,NC,RENT,45000.0,Not Verified,14.93,0,118.0,1993,...,B1,Mar-2018,Current,whole,Cash,18540.06,1899.07,1459.94,439.13,0.0
9941,Job title not given,NaN,GA,MORTGAGE,25000.0,Verified,28.42,0,118.0,2006,...,B2,Feb-2018,Current,whole,Cash,2731.47,388.37,293.53,94.84,0.0
9975,Job title not given,NaN,MD,MORTGAGE,95000.0,Source Verified,10.66,0,118.0,1996,...,C3,Mar-2018,Current,whole,Cash,18634.90,2037.09,1365.10,671.99,0.0
9976,Job title not given,NaN,MI,MORTGAGE,90000.0,Not Verified,24.36,0,118.0,1999,...,B1,Mar-2018,Current,whole,Cash,13321.35,932.70,678.65,254.05,0.0

In [26]:
filt= df['emp_title']=="Job title not given"
df.loc[filt]

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
5,Job title not given,NaN,KY,OWN,34000.0,Not Verified,6.46,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,4256.71,873.13,743.29,129.84,0.0
14,Job title not given,NaN,FL,MORTGAGE,17000.0,Verified,33.98,NaN,NaN,NaN,...,D3,Jan-2018,Current,whole,Cash,2744.21,454.36,255.79,198.57,0.0
16,Job title not given,NaN,NV,MORTGAGE,60000.0,Not Verified,31.22,NaN,NaN,NaN,...,D3,Jan-2018,Current,whole,Cash,11374.52,1532.08,625.48,906.60,0.0
23,Job title not given,NaN,TX,MORTGAGE,40280.0,Verified,7.27,NaN,NaN,NaN,...,A3,Mar-2018,Current,whole,Cash,3323.42,223.71,176.58,47.13,0.0
40,Job title not given,NaN,MI,MORTGAGE,19000.0,Not Verified,24.79,43000.0,Not Verified,17.15,...,D2,Jan-2018,Current,whole,Cash,9465.30,1261.32,534.70,726.62,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9912,Job title not given,NaN,MO,OWN,45000.0,Source Verified,24.99,NaN,NaN,NaN,...,B4,Mar-2018,Current,whole,Cash,9525.68,647.78,474.32,173.46,0.0
9932,Job title not given,NaN,NC,RENT,45000.0,Not Verified,14.93,NaN,NaN,NaN,...,B1,Mar-2018,Current,whole,Cash,18540.06,1899.07,1459.94,439.13,0.0
9941,Job title not given,NaN,GA,MORTGAGE,25000.0,Verified,28.42,NaN,NaN,NaN,...,B2,Feb-2018,Current,whole,Cash,2731.47,388.37,293.53,94.84,0.0
9975,Job title not given,NaN,MD,MORTGAGE,95000.0,Source Verified,10.66,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,18634.90,2037.09,1365.10,671.99,0.0
9976,Job title not given,NaN,MI,MORTGAGE,90000.0,Not Verified,24.36,NaN,NaN,NaN,...,B1,Mar-2018,Current,whole,Cash,13321.35,932.70,678.65,254.05,0.0

In [47]:
loans_df=drop_df.drop(['emp_length_redefined'],axis=1)

In [71]:
loans_df

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,delinq_2y,months_since_last_delinq,earliest_credit_line,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,NaN,NJ,MORTGAGE,90000.0,Verified,18.01,0,38.0,2001,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,NaN,HI,RENT,40000.0,Not Verified,5.04,0,118.0,1996,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,NaN,WI,RENT,40000.0,Source Verified,21.15,0,28.0,2006,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,NaN,PA,RENT,30000.0,Not Verified,10.16,0,118.0,2007,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,NaN,CA,RENT,35000.0,Verified,57.96,0,118.0,2008,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,NaN,TX,RENT,108000.0,Source Verified,22.28,0,118.0,2008,...,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,NaN,PA,MORTGAGE,121000.0,Verified,32.38,4,9.0,1994,...,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,NaN,CT,MORTGAGE,67000.0,Verified,45.26,2,6.0,2004,...,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,NaN,WI,MORTGAGE,80000.0,Source Verified,11.99,0,118.0,1999,...,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,NaN,CT,RENT,66000.0,Not Verified,20.82,0,118.0,2005,...,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [70]:
df.isnull().mean()*100

emp_title                            0.00
emp_length                           0.00
state                                0.00
homeownership                        0.00
annual_income                        0.00
verified_income                      0.00
debt_to_income                       0.24
annual_income_joint                 85.05
verification_income_joint           85.45
debt_to_income_joint                85.05
delinq_2y                            0.00
months_since_last_delinq             0.00
earliest_credit_line                 0.00
inquiries_last_12m                   0.00
total_credit_lines                   0.00
open_credit_lines                    0.00
total_credit_limit                   0.00
total_credit_utilized                0.00
num_collections_last_12m             0.00
num_historical_failed_to_pay         0.00
months_since_90d_late               77.15
current_accounts_delinq              0.00
total_collection_amount_ever         0.00
current_installment_accounts         0.00
accounts_opened_24m                  0.00
months_since_last_credit_inquiry    12.71
num_satisfactory_accounts            0.00
num_accounts_120d_past_due           3.18
num_accounts_30d_past_due            0.00
num_active_debit_accounts            0.00
total_debit_limit                    0.00
num_total_cc_accounts                0.00
num_open_cc_accounts                 0.00
num_cc_carrying_balance              0.00
num_mort_accounts                    0.00
account_never_delinq_percent         0.00
tax_liens                            0.00
public_record_bankrupt               0.00
loan_purpose                         0.00
application_type                     0.00
loan_amount                          0.00
term                                 0.00
interest_rate                        0.00
installment                          0.00
grade                                0.00
sub_grade                            0.00
issue_month                          0.00
loan_status                          0.00
initial_listing_status               0.00
disbursement_method                  0.00
balance                              0.00
paid_total                           0.00
paid_principal                       0.00
paid_interest                        0.00
paid_late_fees                       0.00
dtype: float64

In [72]:
df

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,global config engineer,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,warehouse office clerk,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,assembly,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,customer service,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,security supervisor,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,owner,TX,RENT,108000.0,Source Verified,22.28,NaN,NaN,NaN,...,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,director,PA,MORTGAGE,121000.0,Verified,32.38,NaN,NaN,NaN,...,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,toolmaker,CT,MORTGAGE,67000.0,Verified,45.26,107000.0,Source Verified,29.57,...,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,manager,WI,MORTGAGE,80000.0,Source Verified,11.99,NaN,NaN,NaN,...,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,operations analyst,CT,RENT,66000.0,Not Verified,20.82,NaN,NaN,NaN,...,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0